{% extends 'base.html' %} 
{% block content %} 
{% load static %}

<div class="wrapper">

    <!-- HEADER -->

    <div class="my-2 bird-test">
        <img src="{% static bird_pic_url %}" alt="{{bird_name}}"/>
        <div class="bird-detail-header">{{bird_name}}</div>
    </div>

    <!-- INFOS -->

    <div class="info py-2 mb-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-info-circle mt-4" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
        </svg>
        <div class="info-text">
            <a class="mt-0 info-link" href="https://de.wikipedia.org/wiki/{{bird_name}}">Infos auf Wikipedia</a>
            <audio controls class="mt-2" disabled>
                <source src="{% static bird_audio %}" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
        </div>
    </div>
    <div>
        {% autoescape off %}
        {{ plot_div }}
        {% endautoescape %}
    </div>

    <!-- TABLE -->
    
    <div>
        <table class="table mt-2">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Uhrzeit</th>
                    <th scope="col">Datum</th>
                    <th scope="col">Prob.</th>
                </tr>
            </thead>
            <tbody>
                {% for bird in last_birds %}
                    <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        <td>{{bird.recorded_datetime|date:'H:i'}}</td>
                        <td>{{bird.recorded_datetime|date:"SHORT_DATE_FORMAT"}}</td>
                        <td>{{bird.probability}}</td>
                    </tr>
                {% endfor %}
            </tbody>
            
        </table>
    </div>
    

</div>

{%endblock%}
