{% extends 'base.html' %} 
{% block content %} 
{% load static %}


<div class="wrapper">
    <h2 class="mb-4 text-center">Hier sind die Vögel der letzten Stunde aufgelistet:</h2>
    {% if birds %}
        <div class="accordion" id="accordionExample">
            {% for bird in birds %}
                <div class="my-2 accordion-item" style="border-radius: 10px;">

                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button bird-field collapsed" type="button" data-bs-toggle="collapse" 
                            data-bs-target="#collapse{{bird.name|cut:" "}}" aria-expanded="false" aria-controls="collapseOne"
                            style="position:relative;">
                            <img src="{% static bird.img %}" alt="{{bird.name}}">
                            <div>
                                <p class="bird-name">{{ bird.name }}</p>
                                <p class="bird-date">zuletzt {{ bird.last_call|time:"H:i" }}</p>
                            </div>
                            <p class="fs-5 border border-dark rounded-pill px-2" style="position:absolute; left: 70%;">{{bird.count|center:"2"}}</p>
                        </button>
                    </h2>

                    <div id="collapse{{bird.name|cut:" "}}" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <table class="table">
                                <tbody>
                                      <thead>
                                        <tr>
                                            <th scope="col">Von</th>
                                            <th scope="col">Bis</th>
                                            <th scope="col">Anzahl</th>
                                        </tr>
                                    </thead>
                                    {% for key, date in bird.temp.items reversed %}
                                        <tr>
                                            <td>{{key|floatformat:"0"}}:00</td>
                                            <td>{{key|add:"1"}}:00</td>
                                            <td class="fw-bold">{{date}}</td>   
                                        </tr>
                                     {% endfor %}
                                </tbody>
                            </table>
                            <p style="color: grey">Durchschnittliche Wahrscheinlichkeit: {{ bird.prob|floatformat:"0" }}%</p>
                            <button onclick='location.href="{% url 'bird_detail' bird.name%}";' class="btn btn-success btn-outline"
                            >Detailansicht {{bird.name}}:</button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div>
            <p>In der letzten Stunde haben leider keine Vögel gezwitschert :(</p>
        </div>
    {% endif %}
</div


{% comment %} <div class="wrapper">
    <h2 class="mb-4 text-center">Hier sind die Vögel der letzten Stunde aufgelistet:</h2>
    {% if birds %}
        {% for bird in birds %}
            <div class="my-2 bird-field" onclick='location.href="{% url 'bird_detail' bird.bird_name%}";' style="cursor: pointer;">
                <img src="{% static bird.image_path %}" alt="{{bird.bird_name}}">
                <div class="text">
                    <p class="bird-name">{{ bird.bird_name }}</p>
                    <p class="bird-date">{{ bird.recorded_datetime }}</p>
                    <p style="color: grey">{{ bird.probability|truncatewords:4 }}</p>
                    {% if bird.quan > 1 %}
                        <div class="count-birds">
                            {{bird.quan}}
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div>
            <p>In der letzten Stunde haben leider keine Vögel gezwitschert :(</p>
        </div>
    {% endif %}
</div> {% endcomment %}

{%endblock%}
